<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Stock Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addProduct" type="submit">Add
          Stock</button>
      </div>
    </div>
  </nav>



  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col"> Product Name</th>
        <th scope="col">Product Quantity</th>
        <th scope="col">Product Price</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of empList">
        <td>{{product.id}}</td>
        <td>{{product.Name}}</td>
        <td>{{product.Quantity}}</td>
        <td>{{product.Price}}</td>
       

        <td>
          <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal"
            data-bs-target="#editProduct" (click)="editProduct(product)">Edit</button>
          <button type="button" class="btn btn-outline-danger" (click)="deleteProduct(product)">Delete</button>
        </td>

      </tr>

    </tbody>
  </table>


  <!-- Add product modal -->
  <div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new Stock</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form [formGroup]="productDetail">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Product Id </label>
              <input type="text" formControlName="id" class="form-control" id="id" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Product Name </label>
              <input type="text" formControlName="name" class="form-control" id="name"
                aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Product Quantity </label>
              <input type="number" formControlName="email" class="form-control" id="quantity"
                aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Product Price </label>
              <input type="number" formControlName="salary" class="form-control" id="price"
                aria-describedby="emailHelp">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addProduct()">Add
                Product</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>


  <!-- Edit product modal -->
  <div class="modal fade" id="editProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Product details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form [formGroup]="productDetail">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Product Id </label>
              <input type="text" formControlName="id" class="form-control" id="Id"
                aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Product Name </label>
              <input type="text" formControlName="name" class="form-control" id="Name"
                aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Product Quantity </label>
              <input type="number" formControlName="email" class="form-control" id="Quantity"
                aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Product Price </label>
              <input type="number" formControlName="salary" class="form-control" id="Price"
                aria-describedby="emailHelp">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-success" (click)="updateProduct()"
                data-bs-dismiss="modal">Update </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>


</div>